body {
	background-color: #f1e4d3;
}

.accordion {
	width: 90%;
	margin: 0 auto;
}

.accordion__title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 800;
	color: #111111;
}

.accordion__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.accordion__item {
	border-top: 0.1rem solid #c2c2c2;
}

.meme:active .meme__label .meme__title {
	color: #0055d4;
}

.meme:active .meme__box .meme__picture {
	filter: opacity(0.8);
}

.meme:active .meme__label .meme__icon {
	color: #0055d4;
}

.meme__radio {
	display: none;
}

.meme__radio:checked~.meme__label .meme__title {
	color: #111111;
}

.meme__radio:checked~.meme__label .meme__icon {
	transform: rotate(45deg);
}

.meme__radio:checked~.meme__box {
	opacity: 1;
	transform: scale(1);
	max-height: 100vh;
	padding-bottom: 1rem;
}

.meme__label {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

.meme__title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	color: #0055d4;
	transition: color 0.2s ease;
}

.meme__icon {
	width: 0.8rem;
	transition: transform 0.2s ease;
}

.meme__box {
	display: flex;
	justify-content: center;
	max-height: 0;
	opacity: 0;
	transition: opacity 0.4s ease,
		transform 0.4s ease,
		max-height 0.4s ease;
}

.meme__picture {
	width: 100%;
	border-radius: 0.5rem;
	transition: width 0.4s ease,
							filter 0.4s ease;
}

@media (min-width: 320px) {
	.accordion {
		width: 80%;
		margin: 0 auto;
	}

	.accordion__title {
		font-size: 1.5rem;
	}

	.meme__title {
		font-size: 1rem;
	}

	.meme__icon {
		width: 1rem;
	}

	.meme__picture {
		width: 70%;
	}
}

@media (min-width: 820px) {
	.accordion {
		width: 50%;
		margin: 0 auto;
	}

	.accordion__title {
		font-size: 2rem;
	}

	.meme__title {
		font-size: 1.4rem;
	}

	.meme__icon {
		width: 1.4rem;
	}

	.meme__picture {
		width: 60%;
	}
}

@media (min-width: 1920px) {
	.accordion {
		width: 40%;
		margin: 0 auto;
	}

	.accordion__title {
		font-size: 2.5rem;
	}

	.meme__title {
		font-size: 1.8rem;
	}

	.meme__icon {
		width: 1.8rem;
	}

	.meme__picture {
		width: 50%;
	}
}

@media (hover: hover) {
	.meme__icon {
		visibility: hidden;
	}

	.meme,
	.meme__label:hover,
	.meme__box:hover {
		cursor: pointer;
	}

	.meme:hover .meme__icon {
		transform: rotate(45deg);
	}

	.meme:hover .meme__box {
		opacity: 1;
		padding-bottom: 1rem;
		max-height: 200rem;
		transform: scale(1);
	}

	.accordion__list:hover .meme__title {
		color: #111111;
	}

	.accordion__list:hover .meme__icon {
		visibility: visible;
	}
}